* {
    margin: 0;
    padding: 0;
  }
  body{
    background: #2e8d86
  }

  .container{
    width: 80%;
    margin: 80%;
  }

  .container h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .col{
    flex-basis: 50%;
    min-width: 250px;
  }

  .feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
  }

  .video-player{
    display: flex;
    width: 100vw;
    height: 100vw;
  }