---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Video from '../components/Video.astro';
import Slideshow from '../components/Slideshow.astro';
---

<Layout title="Projects">
  <Showcase heading="Projects" text="Some of my work made in Adobe and Davinci." />
  <section class="page-content">
    <div class="container">
      <p>
      </p>

      <Video/>

      <Slideshow/>

    </div>
  </section>

</Layout>