---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Slideshow from '../components/Slideshow.astro';
---

<Layout title="About Astro">
  <section class="page-content">
    <div class="container">
      <h2>About Astro</h2>
      <p>
        text that i need to write about projects
      </p>

      <Video/>

      <Slideshow/>

    </div>
  </section>

</Layout>