---
export interface Props {
  dark?: boolean;
}

const { dark = false } = Astro.props as Props;
---

<div class={`card ${dark && 'dark'}`}>
  <slot />
</div>

<img class="banner10" src={banner} alt="" />

<style>
  .card {
    background: #3b4252;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    margin-bottom: 20px;
    src="https://github.com/reitenth/astro-crash-course/blob/main/src/images/banner10.png?raw=true";
    height="350";
  }

  .dark {
    background: #3b4252;
    color: #eceff4;
  }
</style>