---
import Card from './Card.astro'

const featuresData = [
  {title: 'Photoshop/Video Editing', body: 'I make video edits using the Adobe suite in my freetime. Check out the projects page to see some of my work.'},
  {title: 'Home Server', body: 'I host a home server of about 40TB that has taught mee about databases such as Postgresql as well as Linux and Windows troubleshooting.'},
  {title: 'Coding', body: 'Going along with my home server, I code a little bit. Usually just scripts and random CSS with my biggest project being this site!'},
  {title: 'PC Build', body: 'I know a good amount about PC hardware having built about a dozen systems since 2015 for personal use.'}
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 30px auto;
    padding: 20px;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

</style>