---
import logo from '../images/logo.png'
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo} alt="" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">About</a></li>
<<<<<<< HEAD
        <li><a href="/project">Projects</a></li>
=======
        <li><a href="/projects">Projects</a></li>
>>>>>>> 9172a707ea9f34bfdb2e986267c00006ebf583d2
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: #fff;
}
</style>